In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from io import StringIO
from sqlalchemy import create_engine
from datetime import datetime

In [2]:
# Define the correct path to the CSV file
csv_path = 'data/gdp_growth.csv'

# Check if the file exis
# Read the CSV file and create a DataFrame
world_bank_df = pd.read_csv(csv_path)

# Display the first few rows of the DataFrame
print(world_bank_df.head())

# Display basic information about the DataFrame
print(world_bank_df.info())

# Read the CSV file and create a DataFrame
try:
    world_bank_df = pd.read_csv(csv_path, sep='\t', error_bad_lines=False, warn_bad_lines=True)
    print("CSV file read successfully.")
except pd.errors.ParserError as e:
    print(f"Error reading CSV file: {e}")
    print("Attempting to read with different settings...")
    try:
        world_bank_df = pd.read_csv(csv_path, sep=',', encoding='utf-8', quotechar='"', error_bad_lines=False, warn_bad_lines=True)
        print("CSV file read successfully with alternative settings.")
    except Exception as e:
        print(f"Failed to read CSV file: {e}")
        world_bank_df = pd.DataFrame()  # Create an empty DataFrame if all attempts fail

# Display the first few rows of the DataFrame
if not world_bank_df.empty:
    print(world_bank_df.head())
    # Display basic information about the DataFrame
    print(world_bank_df.info())
else:
    print("DataFrame is empty. Please check the CSV file and its path.")

                  Country Name Code  1960      1961      1962      1963  \
0                        Aruba  ABW   NaN       NaN       NaN       NaN
1  Africa Eastern and Southern  AFE   NaN       NaN       NaN       NaN
2                  Afghanistan  AFG   NaN       NaN       NaN       NaN
3   Africa Western and Central  AFW   NaN  1.848719  3.770212  7.272501
4                       Angola  AGO   NaN       NaN       NaN       NaN

       1964      1965      1966      1967  ...       2012      2013      2014  \
0       NaN       NaN       NaN       NaN  ...  -1.369863  4.198232  0.300000
1       NaN       NaN       NaN       NaN  ...   1.972652  4.308370  3.986754
2       NaN       NaN       NaN       NaN  ...  12.752287  5.600745  2.724543
3  5.396356  4.049794 -1.787094 -9.546521  ...   5.142964  6.104241  5.927350
4       NaN       NaN       NaN       NaN  ...   8.542188  4.954545  4.822628

       2015      2016      2017      2018      2019      2020  Unnamed: 65
0  5.700001  2.100000  1.999999       NaN       NaN       NaN          NaN
1  2.925591  2.019391  2.542298  2.475272  2.077898 -2.939186          NaN
2  1.451315  2.260314  2.647003  1.189228  3.911603 -2.351101          NaN
3  2.745937  0.127595  2.318042  2.952230  3.190336 -0.884981          NaN
4  0.943572 -2.580050 -0.147213 -2.003630 -0.624644 -5.399987          NaN

[5 rows x 64 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Code          266 non-null    object
 2   1960          0 non-null      float64
 3   1961          119 non-null    float64
 4   1962          124 non-null    float64
 5   1963          124 non-null    float64
 6   1964          124 non-null    float64
 7   1965          124 non-null    float64
 8   1966          132 non-null    float64
 9   1967          136 non-null    float64
 10  1968          138 non-null    float64
 11  1969          142 non-null    float64
 12  1970          139 non-null    float64
 13  1971          153 non-null    float64
 14  1972          153 non-null    float64
 15  1973          153 non-null    float64
 16  1974          153 non-null    float64
 17  1975          155 non-null    float64
 18  1976          159 non-null    float64
 19  1977          161 non-null    float64
 20  1978          167 non-null    float64
 21  1979          167 non-null    float64
 22  1980          168 non-null    float64
 23  1981          183 non-null    float64
 24  1982          188 non-null    float64
 25  1983          191 non-null    float64
 26  1984          191 non-null    float64
 27  1985          194 non-null    float64
 28  1986          195 non-null    float64
 29  1987          199 non-null    float64
 30  1988          202 non-null    float64
 31  1989          204 non-null    float64
 32  1990          207 non-null    float64
 33  1991          217 non-null    float64
 34  1992          218 non-null    float64
 35  1993          221 non-null    float64
 36  1994          222 non-null    float64
 37  1995          224 non-null    float64
 38  1996          234 non-null    float64
 39  1997          234 non-null    float64
 40  1998          237 non-null    float64
 41  1999          238 non-null    float64
 42  2000          239 non-null    float64
 43  2001          244 non-null    float64
 44  2002          245 non-null    float64
 45  2003          250 non-null    float64
 46  2004          250 non-null    float64
 47  2005          251 non-null    float64
 48  2006          251 non-null    float64
 49  2007          252 non-null    float64
 50  2008          251 non-null    float64
 51  2009          253 non-null    float64
 52  2010          253 non-null    float64
 53  2011          253 non-null    float64
 54  2012          253 non-null    float64
 55  2013          253 non-null    float64
 56  2014          255 non-null    float64
 57  2015          254 non-null    float64
 58  2016          254 non-null    float64
 59  2017          254 non-null    float64
 60  2018          253 non-null    float64
 61  2019          251 non-null    float64
 62  2020          244 non-null    float64
 63  Unnamed: 65   0 non-null      float64
dtypes: float64(62), object(2)
memory usage: 133.1+ KB
None

TypeError: read_csv() got an unexpected keyword argument 'error_bad_lines'

In [ ]:
# Function to extract data from IMF API
def extract_imf_data(dataset):
    base_url = "http://dataservices.imf.org/REST/SDMX_JSON.svc/CompactData/{}"
    url = base_url.format(dataset)
    response = requests.get(url)
    data = response.json()
    # Parse JSON data into a pandas DataFrame
    # This is a simplified example and may need adjustment based on the actual IMF API response structure
    df = pd.DataFrame(data['CompactData']['DataSet']['Series'])
    return df

In [ ]:
# Function to transform and clean the data
def transform_data(world_bank_df, imf_df):
    # Merge datasets
    merged_df = pd.merge(world_bank_df, imf_df, on=['Country', 'Year'], how='outer')
    
    # Clean data by removing rows with missing values
    merged_df = merged_df.dropna()
    
    # Calculate additional metrics (e.g., Debt-to-GDP ratio)
    merged_df['Debt_to_GDP_Ratio'] = merged_df['Government Debt'] / merged_df['GDP']
    
    # Normalize specific columns (GDP growth, Inflation, Unemployment)
    columns_to_normalize = ['GDP growth', 'Inflation', 'Unemployment']
    merged_df[columns_to_normalize] = (merged_df[columns_to_normalize] - merged_df[columns_to_normalize].mean()) / merged_df[columns_to_normalize].std()
    
    return merged_df

In [ ]:
# Function to load transformed data into a database
def load_data(df, database_url):
    engine = create_engine(database_url)
    table_name = 'economic_stability_data'
    df.to_sql(table_name, engine, if_exists='replace', index=False)

In [ ]:
# ETL pipeline function
def run_etl_pipeline():
    # List of example countries
    countries = ['USA', 'GBR', 'DEU', 'FRA', 'JPN', 'CHN', 'IND']
    
    # Extract data from World Bank (GDP growth) and IMF (Financial Soundness Indicators)
    world_bank_df = extract_world_bank_data('NY.GDP.MKTP.KD.ZG', countries)
    imf_df = extract_imf_data('FSI')
    
    # Transform the data
    transformed_df = transform_data(world_bank_df, imf_df)
    
    # Load the data into a PostgreSQL database
    database_url = 'postgresql://username:password@localhost:5432/economic_data'
    load_data(transformed_df, database_url)
    
    print(f"ETL pipeline completed at {datetime.now()}")

In [ ]:
# Run the ETL pipeline
if __name__ == "__main__":
    run_etl_pipeline()